td {
    height: 100px !important;
    width: 15%;
  }
  #table2{
    text-align: center !important; 
  }
  #table1{
    text-align: left !important;
  }
  div{
     text-align: center;
  }
  .imageDetails{
    width: 128px;
    height: 128px;
  }