<table class="table table-bordered table-hover">
  <thead class="thead-dark">
      <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of productData"> 
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
          <td>
                <a href="#" (click)="editRecord(this)">Edit</a>
          </td>
          <td>
                <a href="#" (click)="deleteRecord(this)">Delete</a>
          </td>
      </tr>
  </tbody>
  </table>